{
  "env": {
    "browser": true,
    "es6": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
      "generators": false,
      "objectLiteralDuplicateProperties": false,
      "experimentalObjectRestSpread": true
    }
  },

  "globals": {
        "$": false,
        "require": false,
        "global": false,
        "module": false
  },

  "extends": "eslint:recommended",
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "semi": [2, "always"]
  }
}
