/************************* Colors ***************************/
$white: #fff;
$whiteDarken: #fcfcfc;
$red: #c80e24;
$blue: #1b242b;
$blueLight: #54e9ff;
$green: #12472f;
$greenLight: #15c536;
$gray: #353535;
$grayDark: #2f2f2f;
$purple: #340901;
$brown: #301103;
$grayCheckbox: #c4c4c4;