extends ../template

block variables
  - var title = "Crypto exchange"

block content

  main.main
    ul.coins
      li.coins__item(data-type="ETH")
        h2.coins__title Ethereum
        .coins__image
          picture
            img.coins__img.coins__img--ethereum(src="assets/img/ethereum.png" srcset="assets/img/ethereum@2x.png 2x"  alt="ethereum")
        .coins__price
          span.coins__subtitle Price:
          span.coins__price-value loading...
        .coins__control
          span.coins__control-title Percent change
          .checkbox
            input#checkbox1.checkbox__toggle(type='checkbox')
            label.checkbox__label(for='checkbox1')
        ul.coins__info
          li.coins__info-item
            span.coins__text Hour change
            span.coins__value.hourch loading...
          li.coins__info-item
            span.coins__text Day change
            span.coins__value.daych loading...
          li.coins__info-item
            span.coins__text Week change
            span.coins__value.weekch loading...
          li.coins__info-item
            span.coins__text Month change
            span.coins__value.monthch loading...
      li.coins__item.coins__item--litecoin(data-type="LTC")
        h2.coins__title Litecoin
        .coins__image
          picture
            img.coins__img.coins__img--litecoin(src="assets/img/litecoin.png" srcset="assets/img/litecoin@2x.png 2x"  alt="litecoin")
        .coins__price
          span.coins__subtitle Price:
          span.coins__price-value loading...
        .coins__control
          span.coins__control-title Percent change
          .checkbox
            input#checkbox2.checkbox__toggle(type='checkbox')
            label.checkbox__label(for='checkbox2')
        ul.coins__info
          li.coins__info-item
            span.coins__text Hour change
            span.coins__value.hourch  loading...
          li.coins__info-item
            span.coins__text Day change
            span.coins__value.daych loading...
          li.coins__info-item
            span.coins__text Week change
            span.coins__value.weekch loading...
          li.coins__info-item
            span.coins__text Month change
            span.coins__value.monthch loading...
      li.coins__item.coins__item--bitcoin(data-type="BTC")
        h2.coins__title Bitcoin
        .coins__image
          picture
            img.coins__img.coins__img--bitcoin(src="assets/img/bitcoin.png" srcset="assets/img/bitcoin@2x.png 2x"  alt="bitcoin") 
        .coins__price
          span.coins__subtitle Price:
          span.coins__price-value loading...
        .coins__control
          span.coins__control-title Percent change
          .checkbox
            input#checkbox3.checkbox__toggle(type='checkbox')
            label.checkbox__label(for='checkbox3')
        ul.coins__info
          li.coins__info-item
            span.coins__text Hour change
            span.coins__value.hourch loading...
          li.coins__info-item
            span.coins__text Day change
            span.coins__value.daych loading...
          li.coins__info-item
            span.coins__text Week change
            span.coins__value.weekch loading...
          li.coins__info-item
            span.coins__text Month change
            span.coins__value.monthch loading...

